extends ../layouts/default

block content
	.container-fluid.home-image
	.container
		h2.align-center.mbr-fonts-style.mbr-section-title.display-2 Top Categories
		.row.main.justify-content-center
			.col-sm-6.col-md-4
				.thumbnail
					a(href='products/smartphones'): img.img-responsiv(src='/images/smartphone.jpeg')
					.caption
						.row
							.col-md-12.col-xs-6
								h3.text-center: a(href='products/smartphones') Smartphones
			.col-sm-6.col-md-4
				.thumbnail
					a(href='products/computers'): img.img-responsiv(src='/images/MacBook_Air.jpg')
					.caption
						.row
							.col-md-12.col-xs-6
								h3.text-center: a(href='products/computers') Computers
			.col-sm-6.col-md-4
				.thumbnail
					a(href='products/clothes'): img.img-responsiv(src='/images/clothes.jpg')
					.caption
						.row
							.col-md-12.col-xs-6
								h3.text-center: a(href='products/clothes') Clothes									
	